body,
html {
  margin: 0;
  padding: 0;
}

.full-background-container {
  position: relative;
  height: 100vh;
  background-image: url("../Images/pexels-tranmautritam-326511.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.full-background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the last value (0.5) to control the darkness of the overlay */
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 32%; /* Adjust this value to move the text to the left or right */
  transform: translate(-50%, -50%);
  text-align: left; /* Change this to "right" if you want the text to be aligned to the right */
  color: white;
  padding: 12rem;
}

.text-overlay h1 {
  font-size: 5rem;
  margin-bottom: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.text-overlay p {
  font-size: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .text-overlay h1 {
    font-size: 2.5rem;
  }

  .text-overlay p {
    font-size: 1.2rem;
  }
}

@media (max-width: 576px) {
  .text-overlay h1 {
    font-size: 2rem;
  }

  .text-overlay p {
    font-size: 1rem;
  }
}
